*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* Photo by Scott Webb Photography / https://unsplash.com/photos/hDyO6rr3kqk */
  background-image: url(images/succulent.jpeg);
  background-color: #eae9e4;
  background-size: cover;
  background-position: bottom right;
  background-attachment: fixed;
  margin: 0;
}

/* Global Layout & Style */

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

header,
main,
footer p {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
}

/* Header */

header {
  text-align: center;
  padding: 1rem 2rem;
  background-color: #777;
  color: #fff;
}

/* Main */

main {
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Footer */

footer {
  padding: 0 2rem 1rem;
  text-align: center;
}

footer p {
  display: inline-block;
  background-color: #fff;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}

/* Typography */

h1 {
  margin-bottom: 0;
}

h1,
h2 {
  margin-top: 0;
}

h2 {
  margin-bottom: 1rem;
}

h2:nth-of-type(n + 2) {
  margin-top: 2rem;
}

p:last-child {
  margin-bottom: 0;
}
