/* -----------------------------------------------------------------------------
Tick Tock Clock Section
----------------------------------------------------------------------------- */

.tick-tock {
  .canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d0a04;
    color: rgba(#fff, 0.05);
    background-image: linear-gradient(45deg, currentColor 50%, transparent 50%);
    background-size: 50px 50px;
  }

  svg {
    width: 40%;
  }

  // TODO: Add animation!
  // We can use the same basic rotation animation for both hands
  // Each hand will need its own animation duration
  // Make the animation repeat forever with "linear" easing

  // Hints:
  // You'll need to set the transform-origin; it will be relative to the whole clock

  .minutes-hand,
  .hour-hand {
    animation-name: clockHandRotate;
    fill: #1f3669;
  }

  .minutes-hand {
    // TODO: Add animation-duration
    // You can use Sass math to create a nice relationship between the minutes and hour duration!
  }
  
  .hour-hand {
    // TODO: Add animation-duration
  }
}

@keyframes clockHandRotate {
  // TODO: Create the animation!
}

.frame-inner {
  fill: #f5d20a;
}

.frame-outer {
  fill: #f5b107;
}

.clock-fill {
  fill: #fff;
}

.hour-markers {
  fill: #ddd;
}

.center-dot {
  fill: #31508c;
}
