* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 1rem 3rem;
  font-family: "Courier Prime", monospace;
  background-color: #efecd9;
  color: #522e19;
}

a {
  color: #875131;
  font-weight: 700;
}

a:hover {
  color: #b34707;
}

header {
  padding: 100px 1rem;
  text-align: center;
  background-image: url(images/australia.jpeg);
  background-attachment: fixed;
  background-size: cover;
}

header h1 {
  margin: 0;
  padding: 0.5em 1em;
  background-color: #fff;
  display: inline-block;
  color: #522e19;
}

header em {
  color: #a17942;
}

main {
  width: 85%;
  max-width: 800px;
  margin: 1rem auto 0;
}

figure {
  margin: 2rem 0;
  padding: 0;
}

figure img {
  width: 100%;
}

figcaption {
  margin-top: 1rem;
}

p.credit {
  text-align: center;
  font-size: 0.85em;
  opacity: 0.8;
}
