/*
-----------------------------------------
Global Styles
-----------------------------------------
*/

* {
  box-sizing: border-box;
}

:root {
  /* Typography */
  --title-font-size: 1.5rem;
  --excerpt-font-size: 1rem;

  /* Byline components */
  --avatar-size: 36px;
  --border-radius: 5px;
  --avatar-border-radius: 50%;

  /* Grid */
  --grid-gap-x: 1rem;
  --grid-gap-y: var(--grid-gap-x);

  /* Colors */
  --body-text: #4d2e17;
  --primary: #af4d2b;
  --primary-light: #e65924;
}

body {
  font-family: "League Spartan", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: var(--body-text, #4d2e17);
  margin: 0;
  overflow-x: hidden;
}

h2 {
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: var(--primary, #af4d2b);
}

a:hover {
  text-decoration: underline;
  color: var(--primary-light, #e65924);
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

/*
-----------------------------------------
Header
-----------------------------------------
*/

header {
  background-color: var(--primary, #af4d2b);
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 1rem;
}

header h1 {
  margin: 0;
}

header p {
  font-size: 1.5em;
  margin: 0;
}

/*
-----------------------------------------
Post Grid
-----------------------------------------
*/

.post-grid {
  display: grid;
  gap: var(--grid-gap-y, 1rem) var(--grid-gap-x, 1rem);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*
-----------------------------------------
Images & Image Links
-----------------------------------------
*/

.article-image-link {
  display: block;
  border-radius: var(--border-radius, 5px);
}

.byline-avatar-link {
  border-radius: var(--avatar-border-radius, 50%);
  width: var(--avatar-size, 36px);
  height: var(--avatar-size, 36px);
}

.article-image-link,
.byline-avatar-link {
  overflow: hidden;
}

.article-image,
.byline-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-image,
.byline-avatar {
  transition: all 0.3s ease-in-out;
}

.article-image-link:hover .article-image,
.byline-avatar-link:hover .byline-avatar {
  transform: scale(1.1);
  filter: brightness(0.8) sepia(0.2) saturate(1.5);
}

/*
-----------------------------------------
Typography
-----------------------------------------
*/

.article-title {
  font-size: var(--title-font-size, 1.5rem);
  margin-bottom: 1rem;
}

.article-excerpt {
  font-size: var(--excerpt-font-size, 1rem);
}

/*
-----------------------------------------
Byline
-----------------------------------------
*/

.byline {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 450;
  letter-spacing: 0.025em;
}

.byline-author {
  margin: 0;
}

.byline-avatar {
  width: 100%;
  height: 100%;
}

.byline-author-link {
  text-decoration: none;
  color: var(--body-text, #4d2e17);
}

.byline-author-link:hover {
  color: var(--primary, #af4d2b);
  text-decoration: underline;
}

/*
-----------------------------------------
Media Queries
-----------------------------------------
*/

@media screen and (min-width: 768px) {
  header {
    min-height: 200px;
  }

  .post-grid {
    grid-template-columns: repeat(12, 1fr);
    --grid-gap-x: 2rem;
    --grid-gap-y: 3rem;
  }

  article {
    grid-column-end: span 3;
  }

  article:nth-of-type(1) {
    grid-column: 1 / -1;
    display: grid;
    gap: var(--grid-gap-x, 2rem);
    grid-template-columns: 3fr 2fr;
    align-items: center;
  }

  article:nth-of-type(1) .article-image-link {
    height: 100%; /* This lets the image part grow vertically if there is a long headline */
  }

  article:nth-of-type(6),
  article:nth-of-type(7) {
    grid-column-end: span 6;
  }

  article:nth-of-type(1),
  article:nth-of-type(6),
  article:nth-of-type(7) {
    --title-font-size: 2.25rem;
    --excerpt-font-size: 1.25rem;
  }
}
