/*
-----------------------------------------
Global Styles
-----------------------------------------
*/

* {
  box-sizing: border-box;
}

:root {
  /* Typography */
  --title-font-size: 1.5rem;
  --excerpt-font-size: 1rem;
  --title-font-size--large: 2.25rem;
  --excerpt-font-size--large: 1.25rem;

  /* Byline components */
  --avatar-size: 36px;
  --border-radius: 5px;
  --avatar-border-radius: 50%;

  /* Grid */
  --grid-gap-x: 1rem;
  --grid-gap-y: 2rem;

  /* Colors */
  --body-text: #4d2e17;
  --primary: #af4d2b;
  --primary-light: #e65924;
}

body {
  font-family: "League Spartan", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: var(--body-text, #4d2e17);
  margin: 0;
  overflow-x: hidden;
}

h2 {
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: var(--primary, #af4d2b);
}

a:hover {
  text-decoration: underline;
  color: var(--primary-light, #e65924);
}

img {
  max-width: 100%;
  display: block;
}

.container {
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

/*
-----------------------------------------
Header
-----------------------------------------
*/

header {
  background-color: var(--primary, #af4d2b);
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

header h1 {
  margin: 0;
}

header p {
  font-size: 1.5em;
  margin: 0;
}

/*
-----------------------------------------
Post Grid
-----------------------------------------
*/

.post-grid {
  display: grid;
  gap: var(--grid-gap-y, 1rem) var(--grid-gap-x, 1rem);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.post-grid article {
  position: relative; /* Not necessary for the layout; used for decorative elements */
}

/*
-----------------------------------------
Images & Image Links
-----------------------------------------
*/

.article-image-link {
  display: block;
  border-radius: var(--border-radius, 5px);
}

.byline-avatar-link {
  border-radius: var(--avatar-border-radius, 50%);
  width: var(--avatar-size, 36px);
  height: var(--avatar-size, 36px);
}

.article-image-link,
.byline-avatar-link {
  overflow: hidden;
}

.article-image,
.byline-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-image,
.byline-avatar {
  transition: all 0.3s ease-in-out;
}

.article-image-link:hover .article-image,
.byline-avatar-link:hover .byline-avatar {
  transform: scale(1.1);
  filter: brightness(0.8) sepia(0.2) saturate(1.5);
}

/*
-----------------------------------------
Typography
-----------------------------------------
*/

.article-title {
  font-size: var(--title-font-size, 1.5rem);
  margin-bottom: 1rem;
}

.article-excerpt {
  font-size: var(--excerpt-font-size, 1rem);
}

/*
-----------------------------------------
Byline
-----------------------------------------
*/

.byline {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 450;
  letter-spacing: 0.025em;
}

.byline-author {
  margin: 0;
}

.byline-avatar {
  width: 100%;
  height: 100%;
}

.byline-author-link {
  text-decoration: none;
  color: var(--body-text, #4d2e17);
}

.byline-author-link:hover {
  color: var(--primary, #af4d2b);
  text-decoration: underline;
}

/*
-----------------------------------------
Media Queries
-----------------------------------------
*/

@media screen and (min-width: 600px) {
  .container {
    max-width: 768px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  header {
    min-height: 200px;
  }

  .post-grid {
    --grid-gap-x: 2rem;
    --grid-gap-y: 3rem;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  article {
    grid-column-end: span 6; /* 12 columns % span 6 = 2 cards across */
  }

  /* Special formatting: 1-card column */

  article:nth-of-type(1) {
    grid-column: 1 / -1; /* Span all columns */
    display: grid;
    gap: var(--grid-gap-x, 2rem);
    grid-template-columns: 3fr 2fr;
    align-items: center;
  }

  article:nth-of-type(1) .article-image-link {
    height: 100%; /* This lets the image part grow vertically if there is a long headline */
  }

  /* Special formatting: text in 1-card and 2-card sections */

  article:nth-of-type(1) {
    --title-font-size: var(--title-font-size--large, 2.25rem);
    --excerpt-font-size: var(--excerpt-font-size--large, 1.25rem);
  }
}

@media screen and (min-width: 960px) and (max-width: 1399px) {
  .container {
    max-width: 1200px;
  }

  article {
    grid-column-end: span 4; /* 12 columns % span 4 = 3 cards across */
  }

  /* Special formatting: 2-card columns */

  article:nth-of-type(5),
  article:nth-of-type(6) {
    grid-column-end: span 6;
    --title-font-size: var(--title-font-size--large, 2.25rem);
    --excerpt-font-size: var(--excerpt-font-size--large, 1.25rem);
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }

  article {
    grid-column-end: span 3; /* 12 columns % span 3 = 4 cards across */
  }

  /* Special formatting: 2-card columns */

  article:nth-of-type(6),
  article:nth-of-type(7) {
    grid-column-end: span 6;
    --title-font-size: 2.25rem;
    --excerpt-font-size: 1.25rem;
  }

  /* Special formatting: doodle for 2-card column */

  article:nth-child(6):before {
    content: "";
    display: block;

    /* Positioning to center the column even though its parent card isn't centered */
    width: 100vw;
    position: absolute;
    top: 10%;
    left: calc(
      100% + (var(--grid-gap-x, 2rem) / 2)
    ); /* Push it all the way to the right edge of the card, then half of the grid gap */
    margin-left: -50vw; /* Pull it back by half the width of the browser window */
    z-index: -1; /* Put it behind the cards */

    /* Style the doodle */
    height: 40%;
    background-image: url(doodle-divider.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
